{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-vars": 0,
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "no-console": 0
  },
  "globals": {
    "fetch": false,
    "document": true,
    "it": true
  }
}
